@charset "utf-8";

h2{
  font-family: 'Nanum Myeongjo', serif;
  font-size:1.6rem;
  font-weight:bold;
}
#main, #about, #project, #gallery, #qna, #contact{width:1300px;margin:0px auto;}
#about h2, #about h2, #contact h2{display:none;}

/* 헤더 영역 */
header{
  position:fixed;
  width:100%;height:84px;
  z-index:10000;
  background-color:rgba(242, 241, 237, .7);
}
.h_warp{
  width:1300px;
  margin:0px auto;
}
.h_warp h1{
  width:50px;
  float:left;
  margin-top:7px;
}
.h_warp h1 img{
  width:100%;
}
.h_warp .gnb{
  float:right;
  display:flex;
  margin-top:25px;
}
.h_warp .gnb > li a{
  font-size:1.2rem;
  line-height:35px;
  letter-spacing:2px;
  font-family: 'Nanum Myeongjo', serif;
  display:block;
  margin-right:30px;
  font-weight:bold;
}
.h_warp .gnb > li a:hover{
  color:#004b42;
  border-bottom:2px solid #008f7e;
  font-weight:bold;
}

/* 메인 영역 */
main{clear:both;}

/* MAIN */
#main{
  height:900px;
}
.slide{
  width:100%;
  background-color: #f1f0ec;
}
#main > ul{position:relative;}
#main > ul > li{position:absolute;}
#main > ul > li:first-child{z-index:1;}

/* ABOUT */
/* 왼쪽 */
#about{
  height:930px;
  position:relative;
}
.photo > li:first-child{
  position:absolute;
  top:10%;left:2%;
}
.photo > li:first-child img{
  width:300px;
  animation: rotate_image 30s linear infinite;
  transform-origin: 50% 50%;} 
  @keyframes rotate_image{ 100% { transform: rotate(360deg);}
}
.photo > li:nth-child(2){
  width:350px;height:350px;
  border-radius:50%;
  overflow:hidden;
  position:absolute;
  top:23%;left:11%;
}
.photo > li:nth-child(2) img{
  object-fit:cover;
  width:100%;
  transform:translateY(-45px);
  }
.photo > li:last-child{
  position:absolute;
  bottom:15%;left:12%;
}
.t_01{
  width:220px;
  font-weight:500;
  font-size:1.4rem;
  border-bottom:8px solid rgba(115, 80, 70, .4);
}
.tt_01{font-size:1rem;}
.t_02{
  line-height:27px;
  padding-top:15px;
  font-size:0.9rem;
}
/* 오른쪽 */
.txt{
  font-size:0.9rem;
  position:absolute;
  top:17%;right:7%;
}
.title{
  font-size:1rem;
  font-weight:500;
  color:#735046;
}
.txt li:first-child, .txt li:nth-child(2), .txt li:nth-child(3){line-height:30px;}
.txt li{padding-bottom:20px;}
/* 스킬 */
#skill{    
  position:absolute;
  bottom:7%;right:30.7%;
  line-height:30px;
}
.skill li{
  width:200px;
  font-size:0.9rem;
  line-height:30px;
  border:1px solid #C6B8B4;
  background-color:rgba(255, 255, 255, .6);
  border-radius:20px;
  height:20px;
  margin-bottom:15px;
  position:relative;
  clear:both;
  left:90px;top:10px;
}
.skill li:first-child, .skill li:nth-child(2), .skill li:nth-child(3){
  float:left;
}
.skill li:nth-child(4), .skill li:nth-child(5), .skill li:last-child{
  float:right;
}
.skill .ball{
  width:20px;height:20px;
  background-color:#fff;
  border:1px solid #735046;
  border-radius:50%;
  position:absolute;
  top:-1px;left:-1px;
}
.skill .bar{
  width:0.5%;height:20px;
  background-color:#C6B8B4;
  border-radius:20px;
  color:#735046;
}
.s_k01{
  position:absolute;
  top:-5px; left:-90px;
  color:#333;
}

/* PROJECT */
#project{
  height:930px;
  position:relative;
  border:1px solid #fff;
}
#project h2{
  margin:10% 0px 0px 4%;
  font-family: 'Nanum Myeongjo', serif;
  font-weight:bold;
  font-size:2rem;
}
/* 꾸미기 */
.boxbar{
  border-left:2px solid #C6B8B4;
  height:180px;
  position:absolute;
  bottom:40%;right:36%;
}
.p_info{position:absolute;bottom:13.5%;left:7%;}

/* 콘텐츠 */
.p_con > ul{
  height:500px;
  position:relative;
  padding:30px;
  box-sizing:border-box;
}
.p_con > ul > li{float:left;margin-left:20px;} 
.p_con > ul > li > a{
  padding:6px 10px;
  background-color:#fff;
  border:1px solid rgb(115, 80, 70);
  color:#333;
  font-size:15px;
  z-index:1000000;
} 
.act0{
  background-color: rgb(115, 80, 70) !important;
  color:#fff !important;
}
.port01,.port02,.port03,.port04{
  position:absolute;
  left:30px;top:60px;
  display:none;
}
.list{display:flex;}
/* 텍스트 */
.p_txt{
  width:410px;
  margin:15% 0px 0px 4%;
}
.p_t01{
  font-size:22px;
  padding:13px 0px;
  font-weight:bold;
}
.p_t02{
  font-size:14px;
  padding-bottom:20px;
  font-weight:bold;
}
.p_t03{font-size:15px;line-height:27px;}
.p_btn1{margin-top:60px;}
.p_btn2{margin-top:35px;}
/* 버튼 */
.button{
  background-color:#C6B8B4;
  color:#fff;
  padding:10px 25px;
}
.button:hover{
  background-color:rgba(255, 255, 255, .1);
  color:#C6B8B4;
  border:1px solid #C6B8B4;
}

/* GALLERY */
#gallery{
  height:900px;
  position:relative;
}
#gallery h2{
  font-size:2rem;
  position:absolute;
  top:16%;left:50%;
  transform:translate(-50%,-50%);
}
#gallery .button{
  position:absolute;
  bottom:30px;left:50%;
  transform:translateX(-50%);
}
/* 갤러리내비 */
.g_lnb{
  width:500px;
  padding:190px 0px 40px 0px;
  margin:0px auto 10px auto;
}
.g_lnb>ul{
  display:flex;
  justify-content:space-around;
}
.g_lnb>ul>li a{
  border:1px solid #735046;
  color: #735046;
  padding:5px 10px;
  font-size:15px;
}
/* 갤러리 사진 */
.g_list{
  display:flex;
  flex-wrap:wrap;
}
.g_list > li{
  width:33.1%;height:180px;
  overflow:hidden;
  padding:0.1%;
}
.g_list > li img{
  width:120%;
  transition:0.7s;
}
.g_list > li:nth-child(5) img,.g_list > li:nth-child(6) img{
  width:210%;
  transition:0.7s;
}
.g_list > li:nth-child(8) img{
  width:250%;
  transition:0.7s;
}
.g_list > li img:hover{
  opacity:0.7;
  transform:scale(1.1);
}
/* 갤러리 내비 클릭시 색 변경  */
.act1{
  background-color:#735046;
  border:1px solid #735046 !important;
  color:#fff !important;
}
/* 모달서식 */
.g_modal{
  width:100%;height:100%;
  position:fixed;top:0px;left:0px;
  text-align:center;
  background-color:rgba(0,0,0,.8);
  z-index:1000000;
  }
.g_modal img{
  padding-top:100px;
  width:50%;
}
.g_modal .fa-times{
  position:absolute;
  right:18%;top:70px;
  font-size:2.7rem;
  color:#fff;
  padding:6px 10px;
}
.g_modal .fa-times:hover{
  color:#735046;
  transition:0.4s;
}

/* QNA */
#qna{
  height:650px;
  padding-top:5%;
}
#qna h2{
  font-size:2rem;
  margin:50px 0px 0px 4%;
}
.qna{
  float:left;
  width:700px;
  margin:20px 0px 0px 4%;
}
.qna ul{
  border-top:1px solid #735046;
  border-bottom:1px solid #735046;
}
.qna ul > li > a::before{
  content:"Q";
  font-weight:bold;
  color:#735046;
  padding-right:10px;
}
.qna ul > li > p::before{
  content:"A";
  color:#333;
  font-weight:bold;
  padding-right:10px;
}
.qna > ul > li > a{
  border-bottom:1px solid #ccc;
  padding:25px 10px 25px 10px;
  display:block;
  font-size:15px;
}
.qna > ul > li > p{ 
  background-color:#f4f4f2;
  padding:40px 10px 40px 10px;
  display:none;
  line-height:23px;
  font-size:14px;
}
.act2{transform:rotate(180deg);}
/* 큐앤에이 이미지 */
#q_slide{
  width:400px;height:430px;
  overflow:hidden;
  float:right;
  margin:20px 4% 0px 0px;
  position:relative;
}
.q_img{
  width:1600px;height:400px;
  position:absolute;left:0px;top:0px;
}
.q_img img{float:left;}
.qc_btn{
  width:100%;
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:3px;
}
.qc_btn > li{
  width:12px;height:12px;
  background-color:#C6B8B4;
  border-radius:50%;
  margin-right:15px;
  transition:0.5s;
}
.act3{
  background-color:#735046 !important;
  width:25px !important;
  border-radius:10px !important;
}
.boxbar2{
  float:right;
  border-left:2px solid #C6B8B4;
  height:140px;
  position:relative;
  right:-32%;top:20px;
}

/* CONTACT */
#contact{height:550px;}
.w_contact{
  width:1300px;height:550px;
  margin:0px auto;
}
.w_contact > ul > li:first-child{
  padding-top:10px;
  box-sizing: border-box;
}
.w_contact > ul > li:first-child img{
  width:100%;
}
.w_contact > ul > li:nth-child(2){
  float:left;
  font-size:1.1rem;
  line-height:30px;
  padding:0px 0px 0px 450px;
}
.w_contact > ul > li:last-child a{
  float:right;
  margin:10px 500px 0px 0px;
  padding:10px;
  font-size:1rem;
  font-weight:500;
  color:#000000;
  border:1px solid #000000;
}
.w_contact > ul > li:last-child a:hover{
  background-color:#f1f0ec;
}

/* 푸터 영역 */
footer{
  height:100px;
  background-color:#363636;
}
address{
  color:#fff;
  padding-top:10px;
  width:1300px;
  margin:0px auto;
  line-height:25px;
  text-align:center;
}